.App {
  text-align: center;
}

html {
  background-image: url('../public/synthetic.jpg');
}

.calculator{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

input {
  padding: 20px;
  text-align: center;
  width: 500px;
  font-size: large;
}

button {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
}

div {
  font-style: oblique;
  font-size: large;
  color: white;
}